#header
  %a{:href => '/'}
    = img '/images/logo.png', {:id => 'logo'}

  %ul{:id => 'menu'}
    %li
      %a{:href => '/about', :class => "#{cp('about')}"}= 'About'
    %li
      %a{:href => '/contact', :class => "#{cp('contact')}"}= 'Contact'
    %li
      %a{:href => '/help', :class => "#{cp('help')}"}= 'Help'
    %li
      %a{:href => '/mobile', :class => "#{cp('mobile')}"}= 'Mobile'
    %li{:class => 'last'}
      %a{:href => '/api', :class => "#{cp('api')}"}= 'Developer'
    .clearfix
  
  .social
    %a{:href => '//twitter.com'}= img 'images/twitter.png'
    %a{:href => '//facebook.com'}= img 'images/facebook.png'
    %a{:href => '//tumblr.com'}= img 'images/tumblr.png'

  .clearfix