%h1= 'About Splash'

%p= 'Splash helps you find places to cool off, swim and enjoy yourself this summer in Hamilton.&nbsp;&nbsp;Find any pool, splash pad or beach in the city quickly and easily so you can spend more of your time having fun in the sun and less finding the spot.'

%p= 'Splash can also help you discover which activities are being offered at various facilities around the city.&nbsp;&nbsp;Splash will help you find all the information you need to participate including times, fees and more all from within Splash.'

%p= 'We try our best to keep all our information as up-to-date as possible but we cannot guarantee that we\'ll always have it just right so we strongly advise you to check the city\'s website to verify.'

%p{:class => 'last'}= 'We hope you find Splash useful and helps you enjoy your summer!'