%h1= 'Splash for Developers'

%p
  = 'Splash is built on open standards for recreation data.  All our data is available in '
  %a{:href => 'https://github.com/gsmaverick/graf-spec'}= 'GRAF format'
  = ' which can be downloaded '
  %a{:href => '#'}= 'here.'
  = 'We cannot gaurantee the accuracy of the data we have collected and we advise you to check with the city\'s data if there are any problems with our data set.'

%p
  = 'If you would like to learn more about GRAF or how you can help you can join the Open Hamilton '
  %a{:href => '#'}= 'mailing list'
  = ' which is where most of the contributors to GRAF hang out.'

%p
  = 'If you want to help develop Splash and make it better for the users you can get all the details on the '
  %a{:href => 'https://github.com/gsmaverick/splash'}= 'Splash GitHub page'
  = '&nbsp;&nbsp;We are always looking for more contributors and welcome you to join us in making Splash better!'