%h1= 'Contact Splash'

%p
  = 'We love talking to our users and seeing how we can make Splash better for them!  The easiest ways to reach us are through our'
  %a{:href => '#'}= 'Twitter'
  = ' and '
  %a{:href => '#'}= 'Facebook'
  = ' pages where we try to respond in a timely fashion to any inquiries.'

%p
  = 'If you want to let us know about a facility we\'ve missed or if we have incorrect information listed for a facility we\'d love it if you could send us an '
  %a{:href => 'mailto:info@splashhq.com'}= 'email'
  = ' so we can fix it!'

%p
  = 'Finally, if you have any inquiries about specific facilities or activities offered by the city please contact the city as we can\'t do anything for you in regard to those matters.  You can direct your inquiries to the '
  %a{:href => '#'}= 'Department of Culture & Recreation'
  = 'or by calling 905-546-CITY (2489).'
