#header
  = img '/images/logo.png', {:id => 'logo'}
  %input{:type => 'text', :id => 'query', :placeholder => 'Find activities nearby', :size => '25'}
  .clearfix

  %span{:class => 'tagline'}= 'Cool off this summer'
  %a{:href => '#'}= 'Advanced Search'
  .clearfix

#footer
  %b= 'Splash'
  %a{:href => '#'}= 'About'
  %a{:href => '#'}= 'Contact'
  %a{:href => '#'}= 'Help'
  %a{:href => '#'}= 'Mobile'
  %a{:href => '#'}= 'Developer'
  %a{:href => '#', :style => 'border-right: 0;'}
    = img 'images/twitter.png' 
    = 'Follow'
  
  %span= '&copy;&nbsp;2012 Open Hamilton.&nbsp;&nbsp;All Rights Reserved.'