#header
  = img '/images/logo.png', {:id => 'logo'}
  %form{:id => 'search_form'}
    %input{:type => 'text', :id => 'query', :placeholder => 'Find activities nearby', :size => '25'}
  .clearfix

  %span{:class => 'tagline'}= 'Cool off this summer'
  %a{:href => '#'}= 'Advanced Search'
  .clearfix

= partial(:advanced)

#footer
  %b= 'Splash'
  %a{:href => '/about'}= 'About'
  %a{:href => '/contact'}= 'Contact'
  %a{:href => '/help'}= 'Help'
  %a{:href => '/mobile'}= 'Mobile'
  %a{:href => '/api'}= 'Developer'
  %a{:href => 'http://twitter.com/splashHQ', :style => 'border-right: 0;'}
    = img 'images/twitter.png'
    = 'Follow'
  
  %span= '&copy;&nbsp;2012 Open Hamilton.&nbsp;&nbsp;All Rights Reserved.'