!!!
%html{:lang => 'en'}
  %head
    %meta{:charset => "utf-8"}
    %title Splash

    %link{:href => "/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}
    %link{:href => "/favicon.ico", :rel => "icon", :type => "image/x-icon"}

    = css :application

    - if !@slim
      %script{:type => "text/javascript", :src => 'http://maps.googleapis.com/maps/api/js?sensor=true&region=CA'}

    - if @mobile
      = js :mobile
    - elsif @slim
      = js :slim
    - else
      = js :desktop

  - if @mobile or @slim
    %body
  - else
    %body{:class => 'app'}
    
  = yield