#about
  = img '/images/logo.png'
  %p= 'Find any public pool, splash pad or beach in Hamilton quickly and spend more of your time having fun in the sun this summer.'

  .credit
    %h2{:class => 'title'}= 'Development & Design'
    %h2{:class => 'name'}= 'Gavin Schulz'
  .credit
    %h2{:class => 'title'}= 'Logo & App Icon'
    %h2{:class => 'name'}= 'Steven Ritchie'
  
  .credit.end
    = 'A project of Open Hamilton.'