.titlecard
  %h2= 'Ancaster Aquatic Center'
  %h4= '47 Meadowbrook Dr.&nbsp;&nbsp;(Indoor Pool)'

  .phone
    %a{:href => '#'}
      = img '/images/phone.png', {:height => '20', :width => '20'}

#action_bar
  %ul
    %li
      %a{:href => '#'}
        = img '/images/share.png', {:height => '16', :width => '16'}
        = 'Share'
    %li
      %a{:href => '#'}
        = img '/images/link.png', {:height => '16', :width => '16'}
        = 'Website'

.map
  != '<img src="http://maps.googleapis.com/maps/api/staticmap?center=43.2493451,-79.8597834&amp;size=480x180&amp;maptype=roadmap&amp;markers=size:med%7C43.2493451,-79.8597834&amp;sensor=false" />'

.result_marker{:style => 'padding: 8px 0 8px 10px; font-size: 18px;'}= 'Activities'

.activity.first
  = img '/images/next.png', {:class => 'arrow'}
  = 'Lane Swim'

.inset
  .activity.open
    = 'Saturday'
    %span= '9-10am'

  .activity.open
    = 'Wednesday'
    %span= '8:30-10am'
  
  .activity.open{:style => 'border-bottom: none'}
    = 'Friday'
    %span= '9-10am'

.activity
  = img '/images/next.png', {:class => 'arrow'}
  = 'Public Swim'

.activity
  = img '/images/next.png', {:class => 'arrow'}
  = 'Moms & Tots'