#footer
  %ul
    %li#li-browse
      = img '/images/globe.png'
      = 'Browse'
    %li#li-search
      = img '/images/zoom.png'
      = 'Search'
    %li#li-about
      = img '/images/info.png'
      = 'About'
    .clear