.result_marker= '6 Results'

%ul{:class =>'results'}
  %li{:class => 'result'}
    = img '/images/next.png', {:class => 'arrow'}
    = img '/images/beach.png', {:class => 'type'}
    .info
      %h3{:class => 'name'}= 'Valens Conservation Area'
      %h4{:class => 'address'}= '1691 Regional Road 97 (R.R.#6), Flamborough'
      %span{:class => 'count'}= '4'
      %span{:class => 'info'}= 'Public Activities'
    .clear
  %li{:class => 'result'}
    = img '/images/next.png', {:class => 'arrow'}
    = img '/images/outdoor.png', {:class => 'type'}
    .info
      %h3{:class => 'name'}= 'Valens Conservation Area'
      %h4{:class => 'address'}= '1691 Regional Road 97 (R.R.#6), Flamborough'
      %span{:class => 'count'}= '1'
      %span{:class => 'info'}= 'Public Activity'
    .clear
  %li{:class => 'result'}
    = img '/images/next.png', {:class => 'arrow'}
    = img '/images/wading.png', {:class => 'type'}
    .info
      %h3{:class => 'name'}= 'Valens Conservation Area'
      %h4{:class => 'address'}= '1691 Regional Road 97 (R.R.#6), Flamborough'
      %span{:class => 'count'}= '0'
      %span{:class => 'info'}= 'Public Activities'
    .clear
  %li{:class => 'result'}
    = img '/images/next.png', {:class => 'arrow'}
    = img '/images/beach.png', {:class => 'type'}
    .info
      %h3{:class => 'name'}= 'Valens Conservation Area'
      %h4{:class => 'address'}= '1691 Regional Road 97 (R.R.#6), Flamborough'
      %span{:class => 'count'}= '6'
      %span{:class => 'info'}= 'Public Activities'
    .clear